﻿@model Login_App.Models.Login
@{
    ViewData["Title"] = "Index";
}

<h4>Login</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        <br/>
        <div>
            <p style="color:red">@ViewBag.msg</p>
        </div>
        <div>
            <a asp-controller="User" asp-action="Create" style="margin-right:5px">Sign Up</a>
            <a asp-action="ResetPassword">ForgotPassword</a>
        </div>
    </div>
</div>

